BODY {
    background: url("https://shadow.gnetworx.cloud/shad0w-s3/210826-3M6L61198R.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #dcddde;
}

#loginSection {
    bottom: 45%;
    height: 325px;
    left: 0;
    margin: 0 auto;
    margin-top: 100px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 398px;
}

#loginSection .frame {
    border: 1px solid;
    padding: 36px 48px 36px;
    background: linear-gradient(#23272A,#23272A 99%);
    border-color: #23272A;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,.08);
}

#loginSection .k-dropdown,
#loginSection .k-textbox {
    width: 100%;
}

#loginSection input[type="submit"],
#loginSection input[type="button"],
#loginSection button {
    width: 100%;
}

#loginSection input[type="checkbox"] {
    width: 16px;
}

#loginSection .logo 
{
    width: 100%;
    margin-bottom: 20px;
}

#loginSection .recover
{
    display:block;
    transition: 0.3s;
}

#loginSection .field-validation-error {
    display: block;
}

#loginSection .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

#loginSection .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
}

.language {
    margin-top: 20px;
}

.builtInCaptcha br:nth-of-type(2),
.builtInCaptcha br:first-of-type {
    display: none;
}

.k-textbox {
    background-color: #202225;
    border-color: #202225;
    display: block;
    height: 42px;
    font-size: 14px;
    line-height: 24px;
    background-image: none;
    border-radius: 2px;
    -webkit-transition: border-color .24s ease,box-shadow .24s ease;
    -o-transition: border-color .24s ease,box-shadow .24s ease;
    transition: border-color .24s ease,box-shadow .24s ease;
}

.k-textbox:hover {
    border-color: #5865F2;
    background-color: #202225;
    outline: 0;
}


.k-textbox:focus {
    transition: .24s;
    border-color: #5865F2;
    background-color: #202225;
}


.k-textbox:focus, .k-textbox.k-state-focus, .k-textbox.k-state-focused, .k-textarea:focus, .k-textarea.k-state-focus, .k-textarea.k-state-focused {
    border-color:  #5865F2;
    box-shadow: 0 0 0 0.2rem rgb(0 59 255 / 0%);
}
}

ul {
    padding-inline-start: 0px !important;
}

.k-button.k-primary {
    color: #dcddde;
    background-color: #5865F2;
    border-color: #5865F2;
    margin-bottom: 10% !important;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 8px 16px;
    line-height: 24px;
    border-radius: 2px;
}

.k-button {
    color: #dcddde;
    background-color: #5865F2;
    border-color: #5865F2;
    background-image: none !important;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 8px 16px;
    line-height: 24px;
    border-radius: 2px;
}
.k-button:hover {
    color: #dcddde;
    background-color: #5865F2;
    border-color: #5865F2;
    background-image: none !important;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 8px 16px;
    line-height: 24px;
    border-radius: 2px;
}

.k-button.k-primary:hover, .k-button.k-primary.k-state-hover {
    color: #dcddde;
    background-color: #5865F2;
    border-color: #949494;
    font-weight: 500;
    border: 1px solid transparent;
    padding: 8px 16px;
    line-height: 24px;
    border-radius: 2px;
}

.k-checkbox {
    border-color: #5865F2;
    color: #dcddde;
}

.k-checkbox:hover {
    border-color: #5865F2;
    color: #dcddde;
}

.remember-me {
    margin-top: 2%;
    margin-bottom: 5%;
}

.f-pass {
    text-align: center;
    font-size: 13px;
    font-family: inherit;
}

.text-light {
    color: rgba(224,232,255,.8);
    text-align: center;
    font-family: inherit;
    font-size: 14px;
}
.logincontainer-footer {
    background-color: transparent;
    margin-top: 20px;
    border-top: 0;
}

a:hover {
    transition: 0.3s; 
}

.k-dropdown .k-dropdown-wrap .k-input {
    height: 42px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid transparent;
    background-color: #2f3640;
    border-radius: 2px !important;
    border-color: #2f3640;
}

.k-i-cancel:before {
    color: #dcddde;
}

a:active, a:hover {
    color: #5865F2;
}

a:link, a:visited {
    color: #5865F2;
}

.k-i-unlock:before, .k-i-lock:before {
    color: #dcddde;
}

.divider .divider-title {
    background: #23272A;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}

.divider {
    border-top: 1px solid #dcddde;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}

.btn-Discord {
    background-color: #5865F2;
    border-color: #5865F2;
    color: #dcddde !important;
    width: 85%;
}
.btn-Discord:hover {
    background-color: #5865F2;
    border-color: #5865F2;
}

.btn-Google {
    background-color: #4285f4;
    border-color: #4285f4;
    margin-top: 5%;
    color: #dcddde !important;
    width: 85%;
}

.btn-Github {
    background-color: #dcddde;
    border-color: #000;
    color: #000 !important;
    margin-top: 5%;
    width: 85%;
}

.btn-Github:hover {
    background-color: #fff;
}

.btn-Facebook, .btn-Facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
    margin-top: 5%;
    color: #dcddde !important;
    width: 85%;
}

.btn-Whmcs {
    background-color: #4dac02;
    border-color: #4dac02;
}

.btn-Facebook:hover {
    background-color: #2d88ff;
    border-color: #2d88ff;
}

.fa-discord:before {
    content: "\f392";
    font-size: 20px;
}

.fa-github:before {
    content: "\f09b";
    font-size: 20px;
}

.fa-google:before {
    content: "\f1a0";
    font-size: 20px;
}

.fa-facebook:before {
    content: "\f09a";
    font-size: 20px;
}

.fa-whmcs:before {
    content: "\f40d";
    font-size: 20px;
    color: #fff !important;
}