// Used Controls:["appbar","menu","button","toolbar","tabstrip","panelbar","drawer","fab","timeline","treeview","breadcrumb","stepper","wizard","bottom-navigation","grid","treelist","pivotgrid","spreadsheet","filter","filemanager","autocomplete","combobox","numerictextbox","multiselect","dropdownlist","dropdowntree","dropdowngrid","datetime","colorpicker","maskedtextbox","textbox","textarea","listbox","editor","imageeditor","upload","slider","switch","rating","checkbox","radio","dialog","notification","window","splitter","tooltip","badge","tilelayout","expansion-panel","chat","loader","progressbar","gantt","scheduler","calendar","dataviz","map","mediaplayer","scrollview"]
$base-theme:Bootstrap;
$skin-name:tca-discord;
$swatch-name:Black;
$border-radius: 0.25rem;
$accent: #5865f2;
$secondary: #5865f2;
$info: #5bc0de;
$success: #57f287;
$warning: #fee75c;
$error: #ed4245;
$body-bg: #202225;
$body-color: #dcddde;
$component-bg: #2f3136;
$component-color: #dcddde;
$card-cap-bg: #2f3136;
$card-cap-color: #dcddde;
$series-a: #0275d8;
$series-b: #ffd246;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #aa46be;
